  footer{
    position: fixed;
    height: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
  }


/****************************

       social media 

*****************************/

 li.fa {
    color: #fff;
     -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; 
  }
   .fa {
    color: #fff;
    padding: 1%;

     -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; 
  }

  .fa:hover {
    color: #fff;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; 
}

.fa-4x {
    font-size: 9em;
    width: 25%;
    height: 25%;}
  

  #social ul {

    color: #fff;
    list-style: none; 
    text-align: center;


  }


    @media (max-width: 768px) {
 

  #social ul {
    
    float: none;
     font-size:70%;
      float: none;
    margin:100px 28% 0;


  }

} 



  

 @media (max-width: 736px) {
 

  #social ul {
    
    float: none;
    margin:20% 5% ;
    font-size:70%;
  }

} 

 @media (max-width: 568px) {
 

  #social ul {
        float: none;

    font-size:60%;
      margin: 10px 30%  ;

   

  }

} 

  @media (max-width: 320px) {
 

  #social ul {
        float: none;

    font-size:60%;
      margin: 100px 10%  ;

   

  }

} 

@media (min-width: 1600px) {
 

  .fa-4x {
    font-size: 6em;
    width: 100px;
    height: 100px;
  }

} 



 @media (min-width: 2560px) {
 

  #social ul {
    
    float: none;
    margin:30% 25% ;
    font-size:100%;
  }

} 


/****************************

       footer decor

*****************************/



#clear {
  display:table; /* CSS Hack */
  width:100%;
  background:#1A1A1A;
  position:fixed;
  width:50%;

}

 @media (max-width: 549px) {
 

  #clear {
  
  width:100%;
    position:relative;


  }
}


#left {

  float:left;
  margin: 59% 18px;
  border:1px solid #fff; 
  width:10px;
  height:100px;

}

#right {
  float:right;
  margin: 40% 18px;
  border:1px solid #fff;
  width:10px;
  height:100px;

}

#center {
  float:center;
  margin:38px 29%;
  border:1px dashed #fff;
  width:16px;
  height:16px;
  background-color: #fff;

}

#center-2 {
  position:absolute;
  margin:26px 40%;
  background-color: #fff; 
  border-radius: 10px;
  width: 18px;
  height: 18px;

}

#center-3 {
  position:absolute;
  margin:0 19.5%;
  background-color: #fff; 
  border-radius: 10px;
  width: 18px;
  height: 18px;

}

