  footer{
    position: fixed;
    height: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
  }


/****************************

       footer decor

*****************************/



#clear {
  display:table; /* CSS Hack */
  width:100%;
  background:#1A1A1A;
  position:fixed;
  width:50%;

}

 @media (max-width: 549px) {
 

  #clear {
  
  width:100%;
    position:relative;


  }
}


#left {

  float:left;
  margin: 59% 18px;
  border:1px solid #fff; 
  width:10px;
  height:100px;

}

#right {
  float:right;
  margin: 40% 18px;
  border:1px solid #fff;
  width:10px;
  height:100px;

}

#center {
  float:center;
  margin:38px 29%;
  border:1px dashed #fff;
  width:16px;
  height:16px;
  background-color: #fff;

}

#center-2 {
  position:absolute;
  margin:26px 40%;
  background-color: #fff; 
  border-radius: 10px;
  width: 18px;
  height: 18px;

}

#center-3 {
  position:absolute;
  margin:0 19.5%;
  background-color: #fff; 
  border-radius: 10px;
  width: 18px;
  height: 18px;

}

