header {
    width: 100%;
    z-index: 1;
}

header h1 {
    padding: 20px;
    letter-spacing: 6px;
    color: #fff;
    font-weight: 500;
    font-family: 'Space Mono', monospace;
    font-size: 1vw;
    margin-bottom: 0;
    position: fixed;
    width: 1%;
    padding: 1%;
    font-size: 3em;
    line-height: 2;
    background-color: transparent;
    z-index: 2;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.2vw;
    }
}

@media (max-width: 549px) {
    header h1 {
        font-size: 5.2vw;
    }
}
