* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: $dark;
    font-family: 'Space Mono', monospace;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}