* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    color: $light;
    background: #000;
    font-size: 100%;
    line-height: 1;

    @media (min-width: $tablet) {
        background: $dark;
    }
}

body {
    overflow: hidden;
    /* Hide scrollbars */

    @media (min-width: $tablet) {
        overflow: unset;

    }
    ::-webkit-scrollbar {
        display: none;
    }
}



a {
    text-decoration: none;
}